body{
    margin: 0 auto;
    background-color: #6863F2;
    
}

#notify-bar{
    width: auto;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0D1418;
}

#navbar{
    margin: 0 auto;
    width: 1280px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbar-nav>.nav-link{
    font-size: 14px;
}

.nav-link:hover{
    box-shadow:inset 0px 2px 0px 0px #FFFFFF;
}

#searchDemo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#btnDemo:hover{
    color: #000000 !important;
    background-color: #FFFFFF !important;
}

#sideVideo{
    width: 100%;
    height: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#sponsor{
    width: 100%;
}

#sponsorLeft{
    font-size: 120px;
}

#sponsorRight{
    font-size: 120px;
}

.carousel-item>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#rsa{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lsa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
