header{
    margin: 0 auto;
    background-color: #0D1418;
}

nav{
    margin: 0 auto;
    background-color: #FFFFFF;
}

body{
    margin: 0 auto;
    background-color: #FFFFFF;
}

footer{
    margin: 0 auto;
    background-color: #0d1418;
}

#container-nav{
    padding: 0;
}

#container-nav>.row>.flex-row{
    padding: 0;
}

#navbar-nav>.nav-link{
    padding: 8px;
    font-size: 16px;
}

#btn-demo{
    color: #FFFFFF;
    background-color: #000000;
}

.foot-item{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.foot-item>.nav-link{
    z-index: 2;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
    text-shadow: 0px 0px 5px #FFFFFF;
    margin-bottom: 5px !important;
}

.foot-link-top{
    margin-bottom: 20px !important;
}

#abnormal-small{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px 0px #FFFFFF;
}

#footer-foot{
    position: relative;
    background-color: #0d1418;
}

#footer-foot>img{
    position: absolute;
    top: -350px;
    z-index: 0;
}

.inform-link{
    font-size: 14px;
    color: #FFFFFF;
    padding: 8px;
}

.inform-link:hover{
    color: #FFFFFF;
}

#difficult{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
}

