body{
    margin: 0 auto;
    background-color: #6863F2;
    
}

header{
    margin: 0 auto;
}

#notify-bar{
    width: auto;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0D1418;
}

#navbar{
    margin: 0 auto;
    width: 1280px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbar-nav>.nav-link{
    font-size: 14px;
}

.navList{
    color: #FFFFFF;
}

.navList:hover{
    color: #FFFFFF;
}

#searchDemo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#btnDemo:hover{
    color: #000000 !important;
    background-color: #FFFFFF !important;
}

#sideVideo{
    width: 100%;
    height: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#sponsor{
    width: 100%;
}

#sponsorLeft{
    font-size: 120px;
}

#sponsorRight{
    font-size: 120px;
}

.carousel-item>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#rsa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lsa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.shift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shift>h3{
    font-size: 30px;
}

.shiftText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.block *{
    margin-top: 10px;
}

.block>p{
    font-size: 16px;
}

.message{
    display: flex;
    flex-direction: row;
}

.messageText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.messageText>h4{
    color: #3D8280;
}
